In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("C:/Users/admin/Downloads/11.abc.csv",low_memory=False)

In [9]:
df

,Registrar,Enrolment Agency,State,District,Sub District,Pin Code,Gender,Age,Aadhaar generated,Enrolment Rejected,Residents providing email,Residents providing mobile number
0,Allahabad Bank,A-Onerealtors Pvt Ltd,Uttar Pradesh,Allahabad,Meja,212303,F,7,1,0,0,1
1,Allahabad Bank,Asha Security Guard Services,Uttar Pradesh,Sonbhadra,Robertsganj,231213,M,8,1,0,0,0
2,Allahabad Bank,SGS INDIA PVT LTD,Uttar Pradesh,Sultanpur,Sultanpur,227812,F,13,1,0,0,1
3,Allahabad Bank,Sri Ramraja Sarkar Lok Kalyan Trust,Uttar Pradesh,Shamli,Shamli,247775,M,6,1,0,0,1
4,Allahabad Bank,Transmoovers India,Uttar Pradesh,Gorakhpur,Sahjanwa,273001,M,8,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
440813,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,1,3,0,0,1
440814,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,2,1,0,0,1
440815,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,3,3,0,0,1
440816,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Palamu,Patan,822123,M,4,1,0,0,0
440817,Women and Child Development Govt. of Jharkhand,Women and Child Development,Jharkhand,Ranchi,Ranchi,834002,F,3,1,0,0,1

# 1. Find out the total number of cards approved by States?

In [12]:
state_approval=df.groupby('State')['Aadhaar generated'].sum()

In [15]:
state_approval

State
Andaman and Nicobar Islands         5
Andhra Pradesh                   5798
Arunachal Pradesh                 913
Assam                            3213
Bihar                          162607
Chandigarh                        259
Chhattisgarh                     6604
Dadra and Nagar Haveli            140
Daman and Diu                     105
Delhi                            8426
Goa                              1167
Gujarat                         34844
Haryana                          6804
Himachal Pradesh                 1547
Jammu and Kashmir                1234
Jharkhand                        9868
Karnataka                       19764
Kerala                          15143
Lakshadweep                         4
Madhya Pradesh                  53276
Maharashtra                     26085
Manipur                          1323
Meghalaya                         277
Mizoram                          6279
Nagaland                          545
Odisha                          18182
Others                             12
Puducherry                         83
Punjab                           6506
Rajasthan                       39570
Sikkim                             50
Tamil Nadu                      32485
Telangana                        5018
Tripura                           908
Uttar Pradesh                  103767
Uttarakhand                     13227
West Bengal                    119901
Name: Aadhaar generated, dtype: int64

# 2. Find out the total number of cards Enrolment rejected by states?

In [23]:
number_of_rejected_states=df.groupby('State')['Enrolment Rejected'].sum()

In [24]:
number_of_rejected_states

State
Andaman and Nicobar Islands       2
Andhra Pradesh                  373
Arunachal Pradesh                79
Assam                            28
Bihar                          7209
Chandigarh                        9
Chhattisgarh                    380
Dadra and Nagar Haveli            3
Daman and Diu                     2
Delhi                           591
Goa                             127
Gujarat                        2500
Haryana                         532
Himachal Pradesh                123
Jammu and Kashmir               204
Jharkhand                       477
Karnataka                      1445
Kerala                          538
Lakshadweep                       1
Madhya Pradesh                 3509
Maharashtra                    1818
Manipur                         190
Meghalaya                         2
Mizoram                         185
Nagaland                         43
Odisha                         1596
Others                            0
Puducherry                       10
Punjab                          421
Rajasthan                      2035
Sikkim                            2
Tamil Nadu                     1193
Telangana                       274
Tripura                          62
Uttar Pradesh                  5286
Uttarakhand                     955
West Bengal                    6372
Name: Enrolment Rejected, dtype: int64

# 3. Find out the total number of cards approved by Districts?

In [26]:
district_approval=df.groupby('District')['Aadhaar generated'].sum()

In [27]:
district_approval

District
Adilabad         265
Agra            2283
Ahmadnagar       476
Ahmedabad       4212
Aizawl          1095
                ...
Wokha             32
Yadgir           325
Yamuna Nagar     197
Yavatmal         712
Zunheboto          8
Name: Aadhaar generated, Length: 664, dtype: int64

# 4. Find out the total number of cards rejected by Districts?

In [31]:
district_rejection=df.groupby('District')['Enrolment Rejected'].sum()

In [32]:
district_rejection

District
Adilabad          7
Agra            137
Ahmadnagar       45
Ahmedabad       278
Aizawl          111
               ...
Wokha             2
Yadgir           28
Yamuna Nagar     11
Yavatmal         78
Zunheboto         0
Name: Enrolment Rejected, Length: 664, dtype: int64

# 5.Total Count Gender Based?

In [33]:
gender_count=df.groupby('Gender').size()

In [34]:
gender_count

Gender
F    148013
M    292798
T         7
dtype: int64

In [ ]:
6.Count Records age <25, age between 25 &35, age>45

In [35]:
count_age_25=len(df[(df['Age']>=25)&(df['Age']<=35)])

In [37]:
count_age_25

62512

In [36]:
count_age_35=len(df[(df['Age']>=25)&(df['Age']>35)])

In [38]:
count_age_35

81470